/* Queuries medium to large screens*/
@media screen and (min-width: 37.5em) {
    h1 {
        font-size: 7em;
    }

    /* Landing Container Queries */
    .landing__container {
        min-width: 40em;
        padding: 4em;
    }

}