/* Queuries medium to large screens*/
@media sceen  and (min-width: 37.5) { 
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
/* Landing Container Queries */
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}